

body{
  background-color: beige;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: rgb(77, 76, 76);
}

button{
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  transition: all 0.3s ease;
}

button:hover{
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transform: translateY(-2px);
}

input{
  border-radius: 6px;
  border: 1px solid rgb(110, 148, 110);
  padding: 5px 10px;
}
input:focus{
  outline: 2px solid green;
}

.passItems{
  display: flex;
  align-items: center;
  gap: 10px;
}

ul{
  list-style: none;
}

.statistics{
  margin: 20px auto;
  width: 700px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(221, 221, 187);
}

.stats{
  display: flex;
  justify-content: center;
  gap: 30px;
  
}

.statCat{
  background-color: rgb(248, 246, 233);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.statCat h3{
  background-color: rgb(221, 221, 187);
  padding: 5px;
  border-radius: 6px;
}

.addPass{
  display: flex;
  gap: 10px;
  justify-content: center;
  background-color: rgb(221, 221, 187);
  padding: 30px;
  width: 500px;
  margin: 20px auto;
  border-radius: 30px;

}

.generate{
  background-color: rgb(70, 168, 224);
  color: white;
}
.generate:hover{
  background-color: rgb(69, 120, 216)
}

.navBar{
  background-color: rgb(128, 148, 128);
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: end;
}

.navBar button{
  background-color: rgb(217, 240, 217);
}
.navBar button:hover{
  background-color: rgb(159, 223, 159);
}

.heading{
  text-align: center;
}

.passList{
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 221, 187);
    width: 400px;
    margin: 20px auto;
    border-radius: 10px;
}